.commentImg {
	max-height: 95px;
}

.commentsBox {
	margin-top: 40px;
}

.commentDeletion {
	float: right;
}

.postDeletion {
	float: right;
}

.glyphSpace {
	margin-left: 20px;
}

.addCommentForm {
	margin-top: 40px;
}

.postHeader {
	margin-bottom: 40px;
}

.panel-body {
	height: 100%;
}

.userImg {
	height: 109px;
	width: 109px;
}